<mat-card>
  <mat-card-content>
    <h2 class="example-h2">THIS IS BADASSETS</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon>add_to_queue</mat-icon>
        </ng-template>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- AssetId Column -->
            <ng-container matColumnDef="assetId">
              <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
              <mat-cell *matCellDef="let asset"> {{asset.assetId}}</mat-cell>
            </ng-container>

            <!-- Serial Number Column -->
            <ng-container matColumnDef="serialNum">
              <mat-header-cell *matHeaderCellDef> Serial Num </mat-header-cell>
              <mat-cell *matCellDef="let asset"> {{asset.serialNum}} </mat-cell>
            </ng-container>

            <!-- Location Column -->
            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
              <mat-cell *matCellDef="let asset"> {{asset.location}} </mat-cell>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let asset"> {{asset.type}} </mat-cell>
            </ng-container>

            <!-- User Id Column -->
            <ng-container matColumnDef="userId">
              <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
              <mat-cell *matCellDef="let asset"> {{asset.userId}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-tab>

      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>assignment_ind</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          This is the Second Tab. Potentially a table of Users
        </div>
      </mat-tab>

      <mat-tab label="Tab 3">
        <ng-template mat-tab-label>
          <mat-icon>printer</mat-icon>
        </ng-template>
        This could be the table of all printers
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

