<mat-card>
  <mat-card-content>
    <h2 class="example-h2">THIS IS BADASSETS</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon>add_to_queue</mat-icon>
        </ng-template>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">

            <!-- AssetId Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
            </ng-container>

            <!-- Serial Number Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> AssetId </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="serialNum">
              <mat-header-cell *matHeaderCellDef> S/N </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.serialNum}} </mat-cell>
            </ng-container>

            <!-- Serial Number Column -->
            <ng-container matColumnDef="model">
              <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
            </ng-container>

            <!-- Location Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-tab>

      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>assignment_ind</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          This is the Second Tab. Potentially a table of Users
        </div>
      </mat-tab>

      <mat-tab label="Tab 3">
        <ng-template mat-tab-label>
          <mat-icon>printer</mat-icon>
        </ng-template>
        This could be the table of all printers
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

