
<mat-drawer-container class="wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="sidebar-header">
      <h2>Manager <br/> Options</h2>
    </div>
    <mat-divider></mat-divider>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Filter By:">
        <mat-option *ngFor="let filter of filters" [value]="filter.value">
          {{filter.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <!--<mat-form-field>
      <input matInput placeholder = "Search"
             type = "text"
             />
      <mat-hint align="start"><strong>Asset Name Only</strong> </mat-hint>
    </mat-form-field>-->
    <br>
    <br>
    <p><a href="#">Order Toner</a></p>
    <p><a href="#">Print Report</a> </p>
    <p><a href="#">Retired</a> </p>
  </mat-drawer>

  <div class="content">
    <div class="content-header">
      <button type="button"
              mat-raised-button (click)="drawer.toggle()">
              Utilities
      </button>
      <br>
      <br>
      <mat-divider></mat-divider>
    </div>
    <!--content header end-->
    <div class="asset_table">
      <app-detail-table></app-detail-table>
    </div>

  </div>
  <!--This is where content ends-->



</mat-drawer-container>

