<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <mat-card class="mat-elevation-z8">
    <div class="button-row">
      <button mat-button>BCAMP</button>
      <button mat-button>THIS</button>
      <button mat-button>IS</button>
      <button mat-button>NAVBAR</button>
    </div>
  </mat-card>





<!--<mat-divider></mat-divider>-->


